# Copy this file to .env and fill in your actual API keys for local development
# This file should NOT be committed to version control

INNERTUBE_API_KEY=AIzaSyDcIDRNDA9j6TV3dUPar5nTvcQZVfOeXE0
LASTFM_API_KEY=297f34b4f37fe850f5af9733c57622a1
LASTFM_SECRET=ac5dc7b036c4b733a41f356afc8df018
KIZZY_API_KEY=1450052823617372160
 